@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Sitecore().VisitorIdentification()
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        @Html.Sitecore().Placeholder("content")
    </div>
</body>
</html>
